SPIDER_224_2d/
SPIDER_224_2d_png/
SPIDER/
CurveletWavelet_Method/
Dictionary_Method/
Dictionary_Method_Diagnostic/
attunet_spider_run1/
dinov2_all_diag/
dinov2_all_diag_3class/
dinov2_diagnosis_out/
vis_samples/
